@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --color-fv-cyan-400: #A4B1BB;
  --color-fv-cyan-600: #6E8BA2;
}

/* Scrolling banner animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300%);
  }
}

.animate-scroll {
  animation: scroll 180s linear infinite;
}

/* Menu curtain slide animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-slide-down {
  animation: slideDown 0.7s ease-out forwards;
}